{{page-title "MSS Form"}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <LinkTo @route="index" class="navbar-brand">MSS Submission</LinkTo>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarLang" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarLang">
            <li>
              <a class="dropdown-item" href>日本語</a>
              <a class="dropdown-item" href>English</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>