<h1 class="display-6 my-4">{{t 'index.title'}}</h1>

{{t 'index.description-html' htmlSafe=true}}

<a {{on 'click' (prevent-default this.authenticate)}} href class="btn btn-primary btn-lg">{{t 'index.login'}}</a>
