{{#if this.session.isAuthenticated}}
  <div>
    Login as {{this.idToken.preferred_username}}
    <a {{on 'click' this.invalidateSession}} href>Logout</a>
  </div>

  <LinkTo @route="submissions.new">New Submission</LinkTo>
{{else}}
  <a {{on 'click' this.authenticate}} href>Sign in with DDBJ Account</a>
{{/if}}
