<form {{on 'submit' (prevent-default @nav.goNext)}}>
  <p>（確認画面）</p>

  <div>
    <a href class="btn btn-link" {{on 'click' (prevent-default @nav.goPrev)}}>戻る</a>
    <button class="btn btn-primary">次へ</button>
  </div>
</form>
